// Home Page LESS Styles

.main {
    .center();

    .main-img {
        width: 100%;
        height: auto;
        margin: 68px 4% 0 5.4%;
    }

    .main-content {
        margin-bottom: 62px;

        h2 {
            font-size: 4.1rem;
            line-height: 55px;
            margin-bottom: 13px;
        }

        p{
            font-size: 1.8rem;
            line-height: 28px;
        }

        .big-btn {
            .button-creator(200px, 55px, @violet, 2rem);
            // .border-radius();
            // animation-name: @heartbeat;
            // -webkit-animation: @heartbeat 1.7s ease-in-out 1s infinite both;
            // animation: @heartbeat 1.7s ease-in-out 1s infinite both;
            border: 1px solid silver;
            cursor: pointer;
            &:hover {
                background-color: @violet;
                color: white;
            }
        }
    }
}