// Home Page LESS Styles

.main {
    display: flex;
    justify-content: center;
    align-content: center;

    .main-img {
        width: 100%;
        height: auto;
        margin: 68px 4% 0 5.4%;
    }

    .main-content {
        margin-top: 115px;

        h2 {
            font-size: 4.1rem;
            line-height: 55px;
            margin-bottom: 13px;
        }

        p{
            font-size: 1.8rem;
            line-height: 28px;
        }

        .big-btn {
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            width: 200px;
            height: 55px;
            background-color: white;
            color: hsl(257, 40%, 49%);
            font-size: 2rem;
            border: 1px solid silver;
            cursor: pointer; 
        }
    }
}